@import "tailwindcss";
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("assets/fonts/Montserrat.woff2") format("woff2"),
    url("fonts/Montserrat.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: semibold;
  font-weight: 600;
  src: local(""), url("assets/fonts/Montserrat.woff2") format("woff2"),
    url("fonts/Montserrat.woff") format("woff");
}

:root {
  /* Color variables */
  --color-charcoal: #2D2D2D;
  --color-steel-blue: #2F87B5;
  --color-bright-blue: #82E6FF;
  --color-delete-red: #FF8284;

  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation; 
  -webkit-touch-callout: none; 
}

body {
  background-image: url("./assets/images/background.webp");
  min-height: 100vh;
  margin: 0;
  display: flex;
  min-width: 320px;
}

#root {
  width: 100%;
  height: 100%;
}

/* Colors */
.charcoal { color: var(--color-charcoal); }
.bright-blue { color: var(--color-bright-blue); }
.bg-charcoal { background-color: var(--color-charcoal); }
.bg-steel-blue { background-color: var(--color-steel-blue); }
.bg-red { background-color: var(--color-red); }

.header-bg {
  background-image: url('/header-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.border-del-red {
  border: 1px solid #FF8284;
}

.border-bright-blue {
  border: 1px solid #82E6FF;
}

